<div class="sha-bg d-flex flex-column justify-content-center align-items-center" >

  <div class="container-fluid pt-4 pb-4" >

    <div class="row" >
      <div class="col-12 d-flex flex-column justify-content-center align-items-center mb-4">


        <div>
          <mat-card class="extra-padding">
            <mat-card-content class="extra-padding">
              <div class="mb-4">
                <p class="h2 text-center font-weight-bold">Formulario</p>
              </div>

              <form [formGroup]="myForm">
                <div class="row" >
                  <div class="extra-padding">
                   
                      <mat-form-field appearance="fill" class="w-100 mb-3">
                        <mat-label>Nombre</mat-label>
                        <input matInput 
                        formControlName="nombre" >
                        <mat-error *ngIf="myForm.controls['nombre'].hasError('required')">Este campo es requerido</mat-error>
                        <mat-error *ngIf="myForm.controls['nombre'].hasError('invalid')">No se permiten espacios al final.</mat-error>
                      </mat-form-field>
              
                    
                      <mat-form-field appearance="fill" class="w-100 mb-3">
                        <mat-label>Apellidos</mat-label>
                        <input matInput 
                        formControlName="apellidos">
                        <mat-error *ngIf="myForm.controls['apellidos'].hasError('required')">Este campo es requerido</mat-error>
                        <mat-error *ngIf="myForm.controls['apellidos'].hasError('invalid')">No se permiten espacios al final.</mat-error>
                      </mat-form-field>
              
                    <div class="d-flex justify-content-between">
                      <mat-checkbox formControlName="fumas">Fumas</mat-checkbox>
                      <mat-checkbox formControlName="actualmentePracticasLectura" (change)="enableBooks()">Actualmente Lees</mat-checkbox>
                    </div>
                    <div class="mt-1">

                      <mat-form-field appearance="fill" class="w-100 mb-3">
                        <mat-label>Estado Civil</mat-label>
                        <select matNativeControl formControlName="estadoCivil">
                            <!-- <option  *ngFor="let estado of estadoCivil" [value]="estado" value="12">Soltero</option> -->
                            <!-- se hace asi, por que no hay respuesta del backend -->
                            <option  value="12">Soltero</option>
                            <option  value="13">Casado</option>
                            <option  value="14">Viudo</option>
                          </select>
                      </mat-form-field>
                    </div>
              
                  </div>

                  <div *ngIf="myForm.controls['actualmentePracticasLectura'].value" >
                    <div class="extra-padding">
                      <p class="text-center">Libros leidos los últimos tres meses</p>
                      <div>
                        <mat-form-field appearance="fill" class="w-100 mb-3">
                          <mat-label>Título</mat-label>
                          <input matInput [formControl]="titulo">
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="w-100" (click)="addBook()" [disabled]="!myForm.controls['actualmentePracticasLectura'].value">Agregar</button>
                      </div>
                      <div class="mt-4">
                        <ul>
                          <li *ngFor="let item of titulos" class="d-flex justify-content-between align-items-center mt-1">
                            {{item}} <span><button mat-icon-button (click)="deleteBook(item)"><mat-icon color="warn" >delete</mat-icon></button></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                    <button mat-raised-button color="accent" class="w-100" (click)="enviar()" [disabled]="!myForm.valid" type="submit">Enviar</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>

        </div>

      </div>
    </div>
  </div>
</div>