
<div class="bg d-flex flex-column justify-content-center align-items-center" >

  <div class="container-fluid pt-4 pb-4" >

    <div class="row" >

      <!-- sección izquierda -->
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center mb-4" >

        <div>
          <img src="/assets/img/IES-logo-blanco.svg" alt="" class="logo-inicio">
        </div>
        <p class="display-3 font-weight-bold text-center cl-white text-shadow">Te damos la bienvenida</p>
        <p class="h4 text-center cl-white text-shadow">Inicia sesión en tu cuenta para acceder a tu portal</p>

      </div>

      <!-- sección derecha -->
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center" >

        <mat-card class="extra-padding">
            <mat-card-content>
                
              <div class="mb-4">
                <p class="h2 text-center font-weight-bold">Datos de tu cuenta</p>
              </div>

              <div >
                <form [formGroup]="loginForm" (ngSubmit)="submitForm()" >

                  <!-- nombre de usuario -->
                  <mat-form-field appearance="fill" class="w-100 mb-3">
                    <mat-label> Nombre de usuario</mat-label>
                    <input matInput 
                    type="text"
                    formControlName="username"
                    placeholder="miguelito22" >
                    
                    <mat-error *ngIf="noValid('email')"> Ingresa un correo electrónico válido </mat-error>
                  </mat-form-field>
                  
                  <!-- contraseña -->
                  <mat-form-field appearance="fill" class="w-100 mb-3">
                    <mat-label> Contraseña</mat-label>
                    <input matInput 
                    [type]="hide ? 'password' : 'text'" 
                    type="password"
                    formControlName="password"
                    placeholder="********" >

                    <button mat-icon-button 
                      matSuffix 
                      (click)="hide = !hide" 
                      [attr.aria-label]="'Hide password'" 
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                    <mat-error *ngIf="noValid('password')"> Ingresa una contraseña válida </mat-error>
                  </mat-form-field>
                  
                  <!-- botón de inicio -->
                  <div class="d-flex flex-row justify-content-center">
                    <button 
                      mat-raised-button 
                      color="accent" 
                      class="w-100"
                      type="submit">
                      Entrar
                    </button>
                    <button 
                      mat-raised-button 
                      color="accent" 
                      class="w-100"
                      type="button"
                      (click)="forceLogin()">
                      Forzar login
                    </button>
                  </div>

                </form>
              </div>
              

              

            </mat-card-content>
        </mat-card>
          
      </div>

    </div>

  </div>

</div>